name: Autograding Tests
'on':
  - push
  - repository_dispatch
permissions: 
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with: 
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Run tests
        run: mvn clean test
      - name: Autograding
        id: autograder
        uses: classroom-resources/autograding@v1
        continue-on-error: true
      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        if: always()
        env:
          GRADING_RESULTS: ${{ steps.autograder.outputs.result }}


